<!-- views/partials/footer.ejs -->
<footer>
  <a class='wiggle' href='mailto:hello@katherineoh.com' target='_blank'>
		<span class='yellow_text'>h</span>
		<span class='yellow_text'>e</span>
		<span class='yellow_text'>l</span>
		<span class='yellow_text'>l</span>
		<span class='yellow_text'>o</span>
		<span class='yellow_text'>@</span>
		<span class='yellow_text'>k</span>
		<span class='yellow_text'>a</span>
		<span class='yellow_text'>t</span>
		<span class='yellow_text'>h</span>
		<span class='yellow_text'>e</span>
		<span class='yellow_text'>r</span>
		<span class='yellow_text'>i</span>
		<span class='yellow_text'>n</span>
		<span class='yellow_text'>e</span>
		<span class='yellow_text'>o</span>
		<span class='yellow_text'>h</span>
		<span class='yellow_text'>.</span>
		<span class='yellow_text'>c</span>
		<span class='yellow_text'>o</span>
		<span class='yellow_text'>m</span>
	</a>&nbsp&nbsp&nbsp&nbsp
	<a class='wiggle' href='+7608015568' target='_blank'>
		<span class='yellow_text'>7</span>
		<span class='yellow_text'>6</span>
		<span class='yellow_text'>0</span>
		<span class='yellow_text'>.</span>
		<span class='yellow_text'>8</span>
		<span class='yellow_text'>0</span>
		<span class='yellow_text'>1</span>
		<span class='yellow_text'>.</span>
		<span class='yellow_text'>5</span>
		<span class='yellow_text'>5</span>
		<span class='yellow_text'>6</span>
		<span class='yellow_text'>8</span>
</footer>