<!-- views/partials/head.ejs -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Katherine Oh: Front End Web Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Katherine Oh is a San Diego based Front End Web Developer">
  <meta name="keywords" content="Katherine Oh, Web Developer, Front End, Programming, San Diego">

  <meta property="og:title" content="Katherine Oh's Portfolio">
  <meta property="og:description" content="Katherine Oh is a San Diego based Front End Web Developer">
  <meta property="og:image" content="">   
  <meta property="og:url" content="http://katherineoh.com">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Katherine Oh: Front End Web Developer">
  <meta property="twitter:image:alt" content="Alt text for image">
  <meta property="twitter:site" content="@okayohyeah">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli|Lora" rel="stylesheet">
</head>