<!-- views/partials/head.ejs -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Katherine Oh: Full Stack Web Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Katherine Oh is a San Diego based Full Stack Web Developer and Software Engineer.">
  <meta name="keywords" content="Katherine Oh, Web Developer, Software Engineer, Programming">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli|Lora" rel="stylesheet">
</head>