<!-- views/partials/nav.ejs -->
<nav id="mainnav">
	<ul id="left">
		<li><a data-id="index" data-rule="scroll" href="/" alt="Take me home">K O</a></li>
		<li><a data-id="projects" data-rule="scroll" href="/projects" alt="Projects">Projects</a></li>
	</ul>
	<ul id="middle">
		<li><a href="https://github.com/okayohyeah" target="_blank" alt="GitHub">GitHub</a></li>
		<li><a href="https://twitter.com/okayohyeah" target="_blank" alt="Twitter">Twitter</a></li>
	</ul>
	<ul id="right">
		<li><a data-id="about" data-rule="scroll" href="/about" alt="About">About</a></li>
		<li><a data-id="contact" data-rule="scroll"href="/contact" alt="Contact">Contact</a></li>
	</ul>
</nav>