<!DOCTYPE html>

<% include ../partials/head %>
	<body>
		<% include ../partials/nav %>
			<section id='about'>	
				<article>
					<h1 class='ltyellow_text'>Greetings!</h1>
					
					<img id='about_img' src='images/ko_morro.jpg' alt='Katherine at Morro Bay'>
					
					<p class='lead'>I'm <span class='yellow_text'> Katherine Oh</span>, a San Diego based <span class='ltyellow_text'>Front End Web Developer</span> and I love building and creating things with code.</p>

					<p class='lead'>I collect specimens so I can look at them under my microscope. Nachos are delicious.</p> 

					<p class='lead'>My other half and I take road trips around America with our two dogs, Bruce and Juno.</p> 

					<p class='lead'>I am former artist, reluctant runner, but an avid foodie and traveler.</p>
					<hr>
					<h1 class='ltyellow_text'>I built this site using</h1>
					<p class='lead'>Node, Express, EJS, HTML, CSS and JS. 
					<p class='lead'><a href='https://github.com/okayohyeah/portfolio' target='_blank'><span class='ltyellow_text'>GitHub</span></a></p> 

				</article>
			</section>
		<% include ../partials/footer %>	
	</body>
</html>
