<!DOCTYPE html>

<% include ../partials/head %>
	<body>
		<% include ../partials/nav %>
			<section id='about'>	
				<article>
					<p><span class='yellow_text'>Greetings!</span></p>
					
					<img id='about_img' src='images/ko_morro.jpg' alt='Katherine'>
					
					<br><p>I'm <span class='yellow_text'> Katherine Oh</span>, a San Diego based <span class='ltyellow_text'>Full Stack Web Developer</span> and I love building and creating things with code.</p>

					<br><p>I love going on walks and collect specimens so I can look at them under my microscope. I've been collecting rocks, leaves, sticks and the likes from nature since my childhood.</p> 

					<br><p>When I have spare time, I'll take off on a road trip with my other half and our two dogs, Bruce and Juno. Or we'll leave them behind with a friend and trek around the world.</p> 

					<br><p>I am former artist, reluctant runner, but an avid foodie and traveler.</p>
					<hr>
					<span class='yellow_text'>I built this site using</span>
					<br>Node, Express, EJS, HTML, CSS and JS. 
					<br><a href='https://github.com/okayohyeah/portfolio' target='_blank'><span class='ltyellow_text'>GitHub</span></a></p> 

				</article>
			</section>
		<% include ../partials/footer %>	
	</body>
</html>
