<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>
			<article>
				<img id='about_img' src='images/ko_morro.jpg' alt='Katherine'>
				<p><span class='yellow_text'>Greetings</span>

				<br>I'm <span class='ltyellow_text'> Katherine Oh</span>, a San Diego based <span class='ltyellow_text'>Full Stack Web Developer</span> and I love building and creating things with code.</p> 

				<p>When I am not at the computer, I love making art. I collect specimens on walks and look at them under my microscope. I've been collecting rocks, leaves, sticks and the likes from nature since my childhood. When I have spare time, I'll take off on a road trip with my other half and our two dogs. Or we'll leave them behind with a friend and trek around the world. I'm always up for a stroll but I'll make sure I get in a run to keep the blood pumping.</p>
				<hr>
				<p><span class='yellow_text'>This site was built using</span>
				<br>Node, Express and EJS. 
				<br><a class='ltyellow_text' href='https://github.com/okayohyeah/portfolio' target='_blank'>GitHub</a></p> 
			</article>
		<% include ../partials/footer %>	
	</body>
</html>
