<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>
			<section id='contact'>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos suscipit, nihil nobis officia repudiandae, architecto velit ad eveniet deserunt quaerat quisquam. Dolorem molestiae, eos illum facere odit nemo animi magni.</p>
				</article>
			</section>
		<% include ../partials/footer %>
	</body>
</html>