<!DOCTYPE html>

<% include ../partials/head %>
	<body>
		<% include ../partials/nav %>
			<section id='index'>
				<article>
					<h1 class='ltyellow_text section_headings'>Howdy, I'm Katherine Oh!</h1>
					<img id='index_img' src='images/marfa.jpg' alt='Katherine in Marfa'>
								<p class='lead'>I'm a Junior Front End Web Developer in America's Finest City, San Diego.</p>

					<h2 class='ltyellow_text'>I'm coding and building</h2>
					<p class='lead'>I'm passionate about creating user-friendly interfaces for web applications.</p>
					<p class='lead'>Have a look at my <a href='/projects' alt='Projects' class='yellow_text'>projects</a>.</p>

					<h2 class='ltyellow_text'>I'm constantly learning</h2>
					<p class='lead'>I have a drive to learn. As a recent graduate from LEARN Academy in the JavaScript Full Stack and as an intern at Portfolium, I keep improving on my skills and continue to seek opportunities to grow.</p>
					<p class='lead'>Take a look at my <a href="https://github.com/okayohyeah" target="_blank" alt="GitHub">GitHub</a>.</p>

					<h2 class='ltyellow_text'>I'm a team player</h2>
					<p class='lead'>I collaborate well with others and have strong communcation and diplomatic skills. I'm open-minded to different approaches and ideas. Team player, leader, independent - all in one.</p>
					<p class='lead'>Read about my work experience on <a href="https://linkedin.com/in/ohkatherine" target="_blank" alt="LinkedIn">LinkedIn</a>.</p>
					<hr>
					<h2 class='ltyellow_text'>I built this site using</h2>
					<p class='lead'>Node, Express, JavaScript, EJS, Bootstrap, HTML and CSS. 
					<p class='lead'><a href='https://github.com/okayohyeah/portfolio' target='_blank'><span class='ltyellow_text'>GitHub</span></a></p>
				</article>
			</section>
		<% include ../partials/footer %>
	</body>
</html>

