<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>
			<section id='projects'>
				<article>
					<!-- SD Challenge Project -->
						<h1 class='ltyellow_text'>The SD Challenge</h1>
            <!-- SD Challenge image -->
						<img class='project_images' src='images/sdchallenge.png' alt='SD Challenge'>

						<!-- SD Challenge info-->
			      <p class='lead'>For our group project, <span class='yellow_text'>The San Diego Challenge</span>, we built a React app, which welcomes users to sign up and have fun exploring San Diego through a curated <span class='ltyellow_text'>Challenges List</span>. After chosing a challenge and the user gets to the location, they complete the challenge by clicking the <span class='ltyellow_text'>Complete</span> button. Their location is verified through geolocation and a marker is placed
			      on their map. Each challenge awards points upon completion. Their total score is displayed on their user profile as well as the <span class='ltyellow_text'>Leaderboard</span>.</p>
			      <hr>
			      <h1 class='ltyellow_text'>Built with:</h1> 
			      <p class='lead'>React, JavaScript, Node, Express, Sequelize, PostgresSQL, HTML, CSS, Bootstrap</p>
			      <p class='lead'><a href='https://sdchallenge.herokuapp.com' class='yellow_text' target='_blank'>Launch App</a> | <a class='yellow_text' href='https://github.com/12aayub/SDChallenge' target='_blank'>GitHub</a></p>				
				</article>
			</section>
		<% include ../partials/footer %>
	</body>
</html>
