<!DOCTYPE html>

<% include ../partials/head %>
	<body id='projects'>
	<% include ../partials/nav %>
			<article>
				<p><span class='yellow_text'>Projects</span>
				<div class="container">
					<img src="images/sdchallenge.png" alt="SD Challenge" class="image">
					<div class="overlay">
						<div class="text">
							<h4>SD Challenge</h4>
							<br><h5><a href='https://sdchallenge.herokuapp.com' target='_blank'>Launch App</a> | <a href='https://github.com/12aayub/SDChallenge' target='_blank'>GitHub</a></h5>
						</div>
					</div>
				</div>
				<p>We can talk if you want to. Write me at <br><a class='wiggle' href='mailto:hello@katherineoh.com' target='_blank'>
					<span class='yellow_text'>h</span>
					<span class='yellow_text'>e</span>
					<span class='yellow_text'>l</span>
					<span class='yellow_text'>l</span>
					<span class='yellow_text'>o</span>
					<span class='yellow_text'>@</span>
					<span class='yellow_text'>k</span>
					<span class='yellow_text'>a</span>
					<span class='yellow_text'>t</span>
					<span class='yellow_text'>h</span>
					<span class='yellow_text'>e</span>
					<span class='yellow_text'>r</span>
					<span class='yellow_text'>i</span>
					<span class='yellow_text'>n</span>
					<span class='yellow_text'>e</span>
					<span class='yellow_text'>o</span>
					<span class='yellow_text'>h</span>
					<span class='yellow_text'>.</span>
					<span class='yellow_text'>c</span>
					<span class='yellow_text'>o</span>
					<span class='yellow_text'>m</span>
				</a> 
<!-- 				<% include ../partials/modal %> -->
			</article>
	</body>
</html>
