<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>

      <!-- Portfolio Grid Section -->
      <section id="portfolio projects">

        <div class="container">
          <h1 class="text-center section_headings ltyellow_text">Projects</h1>

          <!-- ROW 1 -->
          <div class="row row-projects">
            <!-- SD CHALLENGE Section -->
            <div class="col-md-6 portfolio-item text-center">
              <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                <img class="project_images" src="images/sdchallenge.jpg" alt="SD Challenge">
                <p class="lead">The SD Challenge</p
              </a>
            </div>

            <!-- WHOSE WHO OF GITHUB Section -->
            <div class="col-md-6 portfolio-item text-center">
              <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
                <img class="project_images" src="images/github-return.jpg" alt="Whose Who of GitHub">
                <p class="lead">Whose Who of GitHub</p>
              </a>
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="row row-projects">
            <!-- ROVERPIX Section -->
            <div class="col-md-6 portfolio-item text-center">
              <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
                <img class="project_images" src="images/roverpix.jpg" alt="RoverPix">
                <p class="lead">RoverPix</p>
              </a>
            </div>

            <!-- SUBHUB Section -->
            <div class="col-md-6 portfolio-item text-center">
              <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
                <img class="project_images" src="images/subhub.jpg" alt="SubHub">
                <p class="lead">SubHub</p>
              </a>
            </div>
          </div>
        </div>
      </section>

    <!-- Portfolio Modals -->

    <!-- SD CHALLENGE Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-projects" role="document">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="modal-body">
                      <h2 class="yellow_text">The SD Challenge</h2>
                      <img class="project_images" src="images/sdchallenge.jpg" alt="SD Challenge">
                      <div class="item-details lead">
                        <p><span class='yellow_text'>The San Diego Challenge</span> is a React app, which welcomes users to have fun exploring San Diego through a curated <span class='ltyellow_text'>Challenges List</span> and gain points with the chance to be on the <span class='ltyellow_text'>Leaderboard</span>.</p>
                        <p class='yellow_text'>Built with:</p> 
                        <p>React, JavaScript, Node, Express, Sequelize, PostgresSQL, HTML, CSS, Bootstrap</p>
                        <p><a href='https://sdchallenge.herokuapp.com' class='yellow_text' target='_blank'>Launch App</a> | <a class='yellow_text' href='https://github.com/okayohyeah/SDChallenge' target='_blank'>GitHub</a></p>
                        <p><button class="btn btn-warning" type="button" data-dismiss="modal">
                          Close</button></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- WHOSE WHO OF GITHUB Modal -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-projects" role="document">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="modal-body">
                      <h2 class="yellow_text">Whose Who of GitHub</h2>
                      <img class="project_images" src="images/github-return.jpg" alt="Whose Who of GitHub">
                      <div class="item-details lead">
                        <p><span class='yellow_text'>Whose Who of GitHub</span> is a a static web page, where users can search for <span class='ltyellow_text'>GitHub</span> users by their <span class='ltyellow_text'>usernames</span>.</p>
                        <p class='lead'>The search returns their avatar, which links to their GitHub profile, name, username, location, and pictures of their followers and whom they follow, which link to their profiles.</p>
                        <p class='yellow_text'>Built with:</p> 
                        <p>HTML, JavaScript, CSS</p>
                        <p><a href='https://okayohyeah.github.io/projects/github-username-search/jsonactivity.html' class='yellow_text' target='_blank'>Launch Site</a> | <a class='yellow_text' href='https://github.com/okayohyeah/github-username-search' target='_blank'>GitHub</a></p> 
                        <p><button class="btn btn-warning" type="button" data-dismiss="modal">
                          Close</button></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ROVERPIX Modal -->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-projects" role="document">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="modal-body">
                      <h2 class="yellow_text">RoverPix</h2>
                      <img class="project_images" src="images/roverpix.jpg" alt="RoverPix">
                      <div class="item-details lead">
                        <p><span class='yellow_text'>RoverPix</span> is a static site, which allows users to search for images of <span class='ltyellow_text'>Mars</span> from NASA's three Rovers and their various cameras by Martian sol day.</p>
                        <p>The page save the pictures until the user refreshes or leaves the page.</p>
                        <p class='yellow_text'>Built with:</p> 
                        <p>HTML, JavaScript, CSS, Bootstrap</p>
                        <p><a href='https://okayohyeah.github.io/projects/nasa-rover-images/index.html' class='yellow_text' target='_blank'>Launch Site</a> | <a class='yellow_text' href='https://github.com/okayohyeah/nasa-rover-images' target='_blank'>GitHub</a></p>
                        <p><button class="btn btn-warning" type="button" data-dismiss="modal">
                          Close</button></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SUBHUB Modal -->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-projects" role="document">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 mx-auto">
                    <div class="modal-body">
                      <h2 class="yellow_text">SubHub</h2>
                      <img class="project_images" src="images/subhub.jpg" alt="SubHub">
                      <div class="item-details lead">
                        <p><span class='yellow_text'>SubHub</span> is a hybrid React Native App, which runs on web and mobile. It is a place for <span class='ltyellow_text'>substitute teachers</span> to track and organize assignments. Star/Flag positive or difficult assignments with personal notes on lesson plans, teacher expectations, students, administration, schedule, and extra duty, which would enhance your ability to do your job. A way to filter past assignments quickly because once assignments are posted, one has to decide immediately. This app offsets the time pressure.
                        <p class='yellow_text'>Built with:</p> 
                        <p>React, JavaScript, Node, Express, Sequelize, PostgresSQL, HTML, CSS, Bootstrap</p>
                        <p><!-- <a href='https://okayohyeah.github.io/projects/nasa-rover-images/index.html' class='yellow_text' target='_blank'>Launch App</a> | --> <a class='yellow_text' href='https://github.com/okayohyeah/subhub' target='_blank'>GitHub</a></p>  
                        <p><button class="btn btn-warning" type="button" data-dismiss="modal">
                          Close</button></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript --><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <% include ../partials/footer %>

	</body>
</html>
