<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>
			<article>
				<p><span class='yellow_text'>Projects</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos suscipit, nihil nobis officia repudiandae, architecto velit ad eveniet deserunt quaerat quisquam. Dolorem molestiae, eos illum facere odit nemo animi magni. Ea veniam enim magna amet sunt officia qui veniam adipisicing occaecat dolor reprehenderit elit consectetur occaecat nisi occaecat consectetur dolor tempor labore officia magna pariatur nostrud ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi neque repellat porro voluptas magni unde adipisci, perspiciatis dicta qui quos nesciunt, voluptate vero, quam quisquam! Quas accusamus, vero fuga eaque.</p>
			</article>
	</body>
</html>