<!DOCTYPE html>

<% include ../partials/head %>
	<body>
	<% include ../partials/nav %>
			<section id='projects'>
				<article>
          <div class='row'>
            <h1 class='yellow_text header_top' id='projects_header'>Projects</h1>
            <!-- SD Challenge Project -->
            <div class="col-md-6">
    					<p class='lead ltyellow_text'>THE SD CHALLENGE</p>
              <!-- SD Challenge image -->
    					<a href='https://sdchallenge.herokuapp.com' class='yellow_text' target='_blank'><img class='project_images' src='images/sdchallenge.jpg' alt='SD Challenge'></a>
              <!-- SD Challenge image 2-->
              <a href='https://sdchallenge.herokuapp.com' class='yellow_text' target='_blank'><img class='project_images' src='images/sdchallenge2.jpg' alt='SD Challenge'></a>
    					<!-- SD Challenge info-->
    		      <p class='lead'><span class='yellow_text'>The San Diego Challenge</span> is a React app, which welcomes users to have fun exploring San Diego through a curated <span class='ltyellow_text'>Challenges List</span> and gain points with the chance to be on the <span class='ltyellow_text'>Leaderboard</span>.</p>
    		      <p class='lead yellow_text'>Built with:</p> 
    		      <p class='lead'>React, JavaScript, Node, Express, Sequelize, PostgresSQL, HTML, CSS, Bootstrap</p>
    		      <p class='lead'><a href='https://sdchallenge.herokuapp.com' class='yellow_text' target='_blank'>Launch App</a> | <a class='yellow_text' href='https://github.com/okayohyeah/SDChallenge' target='_blank'>GitHub</a></p>
            </div>

            <!-- Whose Who of GitHub Project -->
            <div class="col-md-6">
              <p class='lead ltyellow_text'>WHOSE WHO OF GITHUB</p>
              <!-- Whose Who of GitHub image -->
              <a href='https://okayohyeah.github.io/projects/github-username-search/jsonactivity.html' class='yellow_text' target='_blank'><img class='project_images' src='images/github.jpg' alt='Whose Who of GitHub'></a>
              <!-- Whose Who of GitHub image 2-->
              <a href='https://okayohyeah.github.io/projects/github-username-search/jsonactivity.html' class='yellow_text' target='_blank'><img class='project_images' src='images/github-return.jpg' alt='Whose Who of GitHub'></a>
              <!-- Whose Who of GitHub info-->
              <p class='lead'><span class='yellow_text'>Whose Who of GitHub</span> is a a static web page, where users can search for <span class='ltyellow_text'>GitHub</span> users by their <span class='ltyellow_text'>usernames</span>.</p>
              <p class='lead'>The search returns their avatar, which links to their GitHub profile, name, username, location, and pictures of their followers and whom they follow, which link to their profiles.</p>
              <p class='lead yellow_text'>Built with:</p> 
              <p class='lead'>HTML, JavaScript, CSS</p>
              <p class='lead'><a href='https://okayohyeah.github.io/projects/github-username-search/jsonactivity.html' class='yellow_text' target='_blank'>Launch Site</a> | <a class='yellow_text' href='https://github.com/okayohyeah/github-username-search' target='_blank'>GitHub</a></p>  
            </div>
          </div>
          <hr>
          <div class='row'>
            <!-- RoverPix Project -->
            <div class="col-md-6">
              <p class='lead ltyellow_text'>ROVERPIX</p>
              <!-- RoverPix image -->
              <a href='https://okayohyeah.github.io/projects/nasa-rover-images/index.html' class='yellow_text' target='_blank'><img class='project_images' src='images/roverpix.jpg' alt='RoverPix'></a>
              <!-- RoverPix image 2-->
              <a href='https://okayohyeah.github.io/projects/nasa-rover-images/index.html' class='yellow_text' target='_blank'><img class='project_images' src='images/roverpix2.jpg' alt='RoverPix'></a>
              <!-- RoverPix info-->
              <p class='lead'><span class='yellow_text'>RoverPix</span> is a static site, which allows users to search for images of <span class='ltyellow_text'>Mars</span> from NASA's three Rovers and their various cameras by Martian sol day.</p>
              <p class='lead'>The page save the pictures until the user refreshes or leaves the page.</p>
              <p class='lead yellow_text'>Built with:</p> 
              <p class='lead'>HTML, JavaScript, CSS, Bootstrap</p>
              <p class='lead'><a href='https://okayohyeah.github.io/projects/nasa-rover-images/index.html' class='yellow_text' target='_blank'>Launch Site</a> | <a class='yellow_text' href='https://github.com/okayohyeah/nasa-rover-images' target='_blank'>GitHub</a></p>  
            </div>

            <!-- Portfolio -->
            <div class="col-md-6">
              <p class='lead ltyellow_text'>THIS PORTFOLIO SITE</p>
              <!-- Portfolio image -->
              <a href='/' class='yellow_text' target='_blank'><img class='project_images' src='images/portfolio.jpg' alt='Portfolio'></a>
              <!-- Portfolio info-->
              <!-- Portfolio image 2 -->
              <a href='/' class='yellow_text' target='_blank'><img class='project_images' src='images/portfolio2.jpg' alt='Portfolio'></a>
              <!-- Portfolio image 3 -->
              <a href='/' class='yellow_text' target='_blank'><img class='project_images' src='images/portfolio3.jpg' alt='Portfolio'></a>
              <p class='lead yellow_text'>Deployed on Heroku</p>
              <p class='lead yellow_text'>Built with:</p>
              <p class='lead'>Node, Express, EJS, Bootstrap, HTML, CSS and JS. 
              <p class='lead'><a href='https://github.com/okayohyeah/portfolio' target='_blank'><span class='yellow_text'>GitHub</span></a></p> 
            </div>
          </div>

				</article>
			</section>
		<% include ../partials/footer %>
	</body>
</html>
