<!DOCTYPE html>

<% include ../partials/head %>
  <body>
  <% include ../partials/nav %>
    <section id='thanks'>
      <article>
        <h1 class='yellow_text'>Thank you!</h1>
        <div class='row'>
          <!-- Image -->
          <div class="col-md-4">
            <img class='about_img' src='images/arizona.jpg' alt='Katherine in Arizona'>
          </div>
          <!-- Text -->
          <div class="col-md-8">
            <h1 class='ltyellow_text'>I'll be looking out for your message.</h1>
            <h1 class='ltyellow_text'>I'll be touch with you soon.</h1>
            <h1 class='ltyellow_text'>I'm excited to connect with you.</h1>
            <p class='lead'>Learn more <a href='/about' alt='About' class='yellow_text'>about</a> me.</p>
            <p class='lead'>Take a look at my <a href='/projects' alt='Projects' class='yellow_text'>projects</a>.</p>
            <p class='lead'>Read about my work experience on <a href="https://linkedin.com/in/ohkatherine" target="_blank" alt="LinkedIn">LinkedIn</a>.</p>
          </div>
        </div>
      </article>
    </section>
    <% include ../partials/footer %>
  </body>
</html>