<!DOCTYPE html>

<% include ../partials/head %>
  <body>
  <% include ../partials/nav %>
    <section id='thanks'>
      <article>
        <h1 class='ltyellow_text section_headings'>Thank you!</h1>
        <div class='row'>
          <!-- Image -->
          <div class="col-md-4">
            <img id='thanks_img' src='images/arizona.jpg' alt='K in Arizona'>
          </div>
          <!-- Text -->
          <div class="col-md-8">
            <h3 class='yellow_text'>I'm excited to connect with you.</h3>
            <p class='lead'>Learn more <a href='/about' alt='About' class='yellow_text'>about</a> me.</p>
            <p class='lead'>Take a look at my <a href='/projects' alt='Projects' class='yellow_text'>projects</a>.</p>
          </div>
        </div>
      </article>
    </section>
    <% include ../partials/footer %>
  </body>
</html>
